/* Estilos para el tema oscuro */
.dark-theme {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.dark-theme header {
    background-color: var(--footer-bg-color-dark);
}

.dark-theme ul li {
    background-color: #444; /* Fondo oscuro para las listas */
    color: var(--text-color-dark);
}

.dark-theme a {
    color: var(--text-color-dark); /* Color de enlaces en tema oscuro */
}

.dark-theme footer {
    background-color: var(--footer-bg-color-dark);
    color: var(--footer-text-color-dark);
}